.decoration { /*:background-image url('images/picky-small.png') */ background-repeat: no-repeat; background-position: center; width: 46px; height: 30px; margin: 30px auto -29px; }

.container_2 { overflow: hidden; }

.header { width: 100%; height: 70px; background-color: lightBlue; }

.footer { width: 100%; height: 70px; background-color: lightBlue; }

.phony { width: 125px; height: 350px; margin: -65px auto -270px; /*:background-image url('images/picky-new.png') */ }

body { font-family: Verdana, Arial, sans-serif; line-height: 1.4; background-color: white; }

iframe { padding: 10px; }

li { list-style: decimal inside; }

pre { margin: 10px 0 0 0; }

div.navigation a { font-family: Futura, "Century Gothic", "URW Gothic L", Helvetica, sans-serif; padding: 0px 10px; margin: 0px 5px; }
div.navigation a.right { float: right; }
div.navigation a.current { color: black; background-color: white; }
