---
title: Status and Contributions
layout: default
---

.container_2
  %h2= h page.title
  .grid_1
    %h3 Status
    %p
      Currently we are working on:
      %ol
        %li including every country in the world
        %li Phony #service?, #mobile?, #landline? methods.
  .grid_1
    %h3 Contributions
    %p
      See the
      %a{ :href => 'https://github.com/floere/phony/wiki/Contributors' } list of Contributors
      to see who has helped Phony become what it is today.
    %p
      We'd be glad for people to add/try/fix phone numbers for their (and other) countries.